#root {
  display: block;
}

@import 'tailwindcss';
@import 'tw-animate-css';

@font-face {
  font-family: 'Open Sans';
  src: url('../src/assets/fonts/OpenSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../src/assets/fonts/OpenSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../src/assets/fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../src/assets/fonts/OpenSans-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@theme {
  /* Font & text */
  --font-display: 'Open Sans', sans-serif;

  --text-h2: 32px;
  --text-h2--font-weight: 700;

  --text-h3: 24px;
  --text-h3--font-weight: 700;

  --text-h4: 20px;

  --text-h4sb: 20px;
  --text-h4sb--font-weight: 600;

  --text-h5: 16px;

  --text-button: 16px;
  --text-button--font-weight: 600;

  --text-small: 14px; /* использовать вместе с italic */

  --text-xs: 14px;

  --text-xxs: 12px;

  /* Colors */
  --color-white: #fff;
  --color-black-natural: #000000;
  --color-black: #353434;
  --color-black-dark: #1e1c1c;
  --color-black-medium: #1e1e1e;
  --color-black-darker: #1a1a1a;
  --color-creamy: #fffff8;

  /* Grey */
  --color-grey-dark: #8b8c8b;
  --color-grey-light: #c5c6c5;
  --color-grey-extra-light: #f3f3f3;
  --color-grey-blue-light: #d5d9e2;
  --color-grey-default-secondary: #757575;
  --color-grey-disabled: #b3b3b3;
  --color-grey-border: #d9d9d9;

  /* Yellow */
  --color-yellow-accent-light: #f4db54;
  --color-yellow-accent-dark: #ffc831;
  --color-yellow-light: #faeba0;
  --color-yellow-dark: #8b6f06;

  /* Blue */
  --color-blue-dark: #194f8d;
  --color-blue-light: #d7e3f4;

  /* Green */
  --color-green-dark: #2e6a32;
  --color-green-light: #d9eedb;

  /* Red */
  --color-red-dark: #f43331;
  --color-red-medium: #f05252;
  --color-red-light: #ee8989;

  /* Box rating colors */
  --color-rating-first: #42c8ea;
  --color-rating-second: #ed506d;
  --color-rating-third: #ffb500;
  --color-rating-fourth: #5a7ce5;

  /* Text colors */
  --color-text: var(--color-black);
  --color-text-black-dark: var(--color-black-dark);
  --color-text-black-darker: var(--color-black-darker);
  --color-text-grey-dark: var(--color-grey-dark);
  --color-text-grey-light: var(--color-grey-light);
  --color-text-error: var(--color-red-dark);

  /* System colors */
  --color-system-grey-light: var(--color-grey-light);
  --color-system-grey-dark: var(--color-grey-dark);
  --color-system-background: var(--color-white);
  --color-system-error: var(--color-red-dark);
  --color-system-error-medium: var(--color-red-medium);
  --color-system-error-light: var(--color-red-light);

  /* Labels */
  --color-labels-yellow-light: var(--color-yellow-light);
  --color-labels-yellow-dark: var(--color-yellow-dark);
  --color-labels-blue-dark: var(--color-blue-dark);
  --color-labels-blue-light: var(--color-blue-light);
  --color-labels-green-dark: var(--color-green-dark);
  --color-labels-green-light: var(--color-green-light);

  /* Overlay */
  --color-overlay: rgba(53, 52, 52, 0.4);

  /* Input */
  --input-border: var(--color-grey-light);
  --input-border-active: var(--color-grey-dark);
  --placeholder: var(--color-grey-light);
  --placeholder-active: var(--color-grey-dark);
  --caret: (--color-system-grey-dark);

  /* Select */
  --select-content-border: var(--color-grey-blue-light);
  --select-content-shadow: 4px 4px 6.3px rgba(82, 82, 82, 0.12);
  --select-check: var(--color-black-natural);
  --select-option-hover: var(--color-grey-extra-light);

  /* Calendar */
  --color-weekdays-label: var(--color-grey-default-secondary);
  --color-outside-days: var(--color-grey-disabled);
  --color-calendar-border: var(--color-grey-border);
  --color-calendar-text: var(--color-black-medium);
  --popover-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}

textarea.hide-resizer::-webkit-resizer {
  display: none;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--color-yellow-light);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-yellow-accent-light);
}

.narrow-scrollbar::-webkit-scrollbar {
  width: 3px;
}

body,
button,
input,
textarea,
select {
  font-family: var(--font-display);
}
